<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/auction</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
        <property name="hibernate.show_sql">true</property>

        <mapping class="by.iba.uzhyhala.entity.AuthInfoEntity"/>
        <mapping class="by.iba.uzhyhala.entity.BetEntity"/>
        <mapping class="by.iba.uzhyhala.entity.CategoryEntity"/>
        <mapping class="by.iba.uzhyhala.entity.LotEntity"/>
        <mapping class="by.iba.uzhyhala.entity.PersonalInfoEntity"/>
    </session-factory>
</hibernate-configuration>